/*start main  rules*/
body{
    background-color: #f4f7fc!important;
    font-size: 16px;
}
.asterisk{
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #D20707;
}
.panel-default > .panel-heading{
        color: #fff;
    background-color: #9b59b6;
    border-color: #9b59b6;
    font-size: larger;
}
/*end main rules*/

/*start login form*/
.login{
    width: 300px;
    margin:100px auto;
}
.login h4{
    color: #888;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color:#e5e5e5;
}
.login btn{
    background-color: #008dde;
}
/*end login form*/
/* start edit bootstrab */
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    padding: 4px;
    background-color: #f4f7fc;
    display: inline-block;
    border: none;
    float: right;
}
.nav>li>a,
.navbar-brand{
    padding: 15px 12px;
}
.navbar-brand{
    font-size: 1em;/*like size font body*/
}
.navbar-inverse .navbar-nav > li > a{
   color: #000!important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.dropdown-menu{
    background-color: #3498db;
}
.dropdown-menu{
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 0;
}
.dropdown-menu>li >a{ 
   color: #fff;
    padding: 10px 15px;
}
.form-control{
    position: relative;
}
.manage-members img{ 
    width: 50px;
    height: 50px;
}
.main-table{
    -webkit-box-shadow:0 3px 10px #ccc;
    -moz-box-shadow:0 3px 10px #ccc;
    box-shadow:0 3px 10px #ccc;
}
.main-table td{
    background-color: #fff;
    vertical-align: middle!important;
}
.main-table .btn{
    padding: 3px 10px;
}
.main-table tr:first-child td{
    background-color: #333;
    color:#fff;
}
.nice-message{
    padding: 10px;
    background-color: #fff;
    margin: 10px 0;
    border-left:5px solid #080;
}
/*end edit bootstrab*/
/*start dashboard*/
.home-state{
    background-color: #F4F7FC;
}
.home-state .state{
    padding: 20px;
    font-size: 15px;
    color: #fff;
    border-radius:10px;
    position: relative;
    overflow: hidden;
}
.home-state .state .info{
     float: right;
    margin-top: 46px;
}
.home-state .state i{
    position: absolute;
    font-size: 80px;
    top: 35px;
    left: 30px;
}
.home-state .st-members,
.home-state .st-pending,
.home-state .st-items,
.home-state .st-comment
{
       background-color: #ffffff;
    color: #000;
    margin-bottom: 36px;
}


.home-state .state span{
    display: block;
    font-size: 50px;
}
.home-state .state span a{
    color: #000;
}
.home-state .state span a:hover{
    text-decoration: none;
}
.home-state .fa-users{
    color: #1abc9c;
}
.home-state .fa-user-plus{
    color: #3498db;
}
.home-state .fa-tag{
    color: #9b59b6;
}
.home-state .fa-comments{
    color: #34495e;
}
.home-state .fa-shopping-basket{
    color: #f1c40f;
}
.home-state .fa-star{
    color: #d35400;
}
.home-state .fa-database{
    color: #f368e0;
}
.home-state .fa-credit-card{
    color: #27ae60;
}
.latest{
    margin-top: 40px;
}
.latest .toggle-info{
    color: #999;
    cursor: pointer;
}
.latest .toggle-info:hover{
    color: #444;
}
.latest .latest-user{
    margin-bottom: 0;
}
.latest .latest-user li{
    padding: 8px;
    overflow: hidden;
}
.latest .latest-user .btn-success,
.latest .latest-user .btn-info{
    padding: 2px 8px;
}
.latest .latest-user .btn-info{
    margin-right: 4px;
}
.latest .latest-user li:nth-child(odd){
    background-color: #eee;
}
.latest .latest-user li span a{
    color: #fff;
    
}
.latest .latest-user li span a:hover{
    text-decoration: none;
}
.latest .comment-box{
    margin: 5px 0 10px;
    
}
.latest .comment-box .member-comment,
.latest .comment-box .content-comment{
    float: left;
}
.latest .comment-box .member-comment{
    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 10px;
    
}
.latest .comment-box .content-comment{
    width: calc(100% - 100px);
    background-color: #efefef;
    padding: 10px;
    position: relative;
}
.latest .comment-box .content-comment:before{
    content: '';
    position: absolute;
    display: block;
    left: -28px;
    top: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-left-color:transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #efefef;
    border-width: 15px;
}
.latest .panel-heading i{
    margin-right: 15px;
}
/*end dahsboard*/
/* start  members  page*/
h1{
    font-size: 65px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}
.show-pass{
    position: absolute;
    top: 6px;
    right: -25px;
}
.activate{
    margin-left: 5px;
}
/*end members page*/
/*start categories*/
.categories hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.categories .panel-heading{
    color: #959595;
    font-weight: bold;
}
.categories .panel-heading i {
    position: relative;
    top: 1px;
}
.categories .panel-body{
    padding: 0;
}
.categories .panel-body .cat{
    padding: 15px;
    position: relative;
    overflow: hidden;
}
.categories .panel-body .cat .hidden-button{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    right: -131px;
    top: 14px;
}
.categories .panel-body .cat:hover .hidden-button{
   right: 10px;  
}
.categories .panel-body .cat .hidden-button a{
    margin-right: 6px;
    padding: 8px;
    
}
.categories .panel-body .cat:hover{
    background-color: #eee;
    cursor: pointer;
}
.categories .option a{
    color: #888;
    text-decoration: none;
    cursor: pointer;
}
.categories .option span{
    color: #888;
    text-decoration: none;
    cursor: pointer;
}
.categories .option .active{
    color: #f00;
}
.categories .panel-body .cat .visibility,
.categories .panel-body .cat .commenting,
.categories .panel-body .cat .advertises{

    padding: 7px;
    border-radius: 11px;
    color: #fff;
    margin-right: 16px;
}
.categories .panel-body .cat .visibility{
       background-color: #f1c40f; 
}
.categories .panel-body .cat .commenting{
        background-color: #9b59b6;
}
.categories .panel-body .cat .advertises{
        background-color: #c0392b;
}
.categories .panel-body .cat h3{
  margin: 0;  
cursor: pointer;
    font-weight: bold;
    color: #6A6A6A;
}
.categories .panel-body .cat .full-view p{
    margin: 10px 0; 
    color: #707070;
}
.categories .cat:last-of-type ~hr{
    display: none;
}
.categories .add-category{
    margin-bottom: 30px;
    margin-top: -10px;
}
.categories .child-head{
    margin: 15px 0 10px;
    font-weight: bold;
    font-size: 16px;
     color: #22ab79;
}
.categories .child-cats{
    margin:0;
}
.categories .child-cats li{
    margin-left: 15px;
}
.categories .child-cats li:before{
    content: "- "
}
.categories .show-delete{
    color: #f00;
    display: none;
}
/*end categories*/
/* start items*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #9b59b6;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/*********************/
.static{
    padding: 50px;
    
}
.static h2{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}